.navbar-wrapper {
  border-bottom: 1px solid #e0e0e0;
  direction: rtl;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
}

.navbar {
  width: 300px;
  z-index: 100;
  color: #777;
  margin: 0 auto;
  direction: rtl;
  padding: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  transition: .3s;
  overflow: auto;
  box-shadow: -2px 0 4px 0 rgba(0,0,0,.13);
  align-content: flex-start;
}

.navbar hr {
  width: 100%;
  margin: 0 20px;
}

.navbar-logo {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.navbar-logo img {
  width: 100%;
  max-width: 150px;
}

.navbar-logo p {
  font-size: 12px;
}

.navbar-menu {
  margin: 10px 0 0 0;
}

#menu {
  width: 100%;
  display: block;
}

.navbar-icon-arrow::before {
  padding: 10px;
}

.item>a {
  position: relative;
  text-align: right;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  display: block;
  transition: .2s;
  color: #777;
}

.item .icon-circle {
  display: none;
}

.item .icon-arrow-back {
  font-size: 10px;
  color: #8b8e90;
  margin-right: auto;
}

.item>a:hover {
  color: #fb3449;
}

.item>a:hover span {
  color: #fb3449;
}

.item>a span {
  margin-left: 10px;
}

.details {
  background-color: #f0f0f0;
}

.item-title span {
  color: #777;
  font-size: 17px;
  align-self: center;
  transition: .2s;
}

.navbar-icon-main {
  margin-left: 10px;
}

.item-title p {
  font-size: 14px;
}

.submenu {
  text-align: right;
}

.title {
  display: none;
}

.title>a {
  position: relative;
  text-decoration: none;
  text-align: right;
  padding: 10px 40px 10px 2px;
  color: #777;
  transition: .2s;
  font-size: 13px;
  display: block;
}

.title>a span {
  margin-left: 10px;
}

.title-inner p {
  margin: 0 0 0 auto;
}

.subitem {
  display: none;
}

.subitem>a {
  display: block;
  width: 100%;
  line-height: 250%;
  color: #666;
  font-size: 12px;
  transition: .2s;
  padding-right: 60px;
  margin: 5px 0;
}

.subitem>a:hover {
  color: #fb3449;
  background-color: #f4f4f4;
}

@media screen and (min-width: 992px) {
  .navbar-outer {
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 66px;
    background-color: #fff;
    z-index: 99;
  }
  .navbar {
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    overflow: unset;
    width: 100%;
    box-shadow: none;
    display: block;
    background-color: #fff;
    margin: 0 25px;
  }
  .item .icon-circle {
    display: block;
  }
  .navbar-icon-arrow {
    display: none;
  }
  #menu {
    position: relative;
    margin: 0 auto;
    overflow: visible;
  }
  .item {
    float: right;
    cursor: pointer;
  }
  .item>a {
    font-size: 13px;
    padding: 10px 20px;
    border-bottom: none;
    font-weight: bold;
    color: #616161;
  }
  .item:last-child {
    border-bottom: none;
  }
  .item>a:hover {
    border-radius: 2px 2px 4px 4px;
  }
  .item>a:hover p {
    color: #fb3449;
  }
  .details {
    float: right;
    background-color: #fff;
    position: absolute;
    padding-bottom: 10px;
    visibility: hidden;
    opacity: 0;
    top: 41px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.13);
    border-radius: 0 0 5px 5px;
  }
  .item:hover div {
    visibility: visible;
    opacity: 1;
    transition: .2s;
  }
  .submenu {
    display: block;
  }
  .submenu-multipleItem {
    float: right;
    padding: 0 5px;
    width: 200px;
  }
  .submenu-multipleItem:last-child {
    border-left: none;
  }
  .title {
    display: block;
  }
  .title>a {
    display: block;
    margin: 10px;
    padding: 10px 10px 10px 20px;
    transition: .2s;
    border-bottom: none;
  }
  .title>a:hover {
    color: #fb3449;
  }
  .title-inner p {
    font-weight: bold;
  }
  .subitem {
    display: block;
  }
  .subitem>a {
    display: block;
    padding: 0 20px;
    transition: .2s;
    border-top: none;
  }
  .subitem>a:hover {
    color: #fb3449;
    background-color: #f9f9f9;
    border-radius: 7px;
  }

  /* Magic line */
  .group:after { 
    display: block; 
    content: ""; 
    clear: both; 
  }
  #magic-line { 
    position: absolute;
    bottom: -2px; 
    right: 0;
    height: 2px; 
    background: #ef5662;
  }
}





